doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  //head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title ONE - Personal Resume
    link(href="stylesheets/styles.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="stylesheets/prettyPhoto.css", type="text/css", media="screen", charset="utf-8")
    link(href="http://fonts.googleapis.com/css?family=Bree+Serif", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js?ver=3.3")
    script(type="text/javascript", src="javascripts/jquery.prettyPhoto.js")
    script(type="text/javascript", src="javascripts/jquery.easing.1.3.js")//
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(href="https://afeld.github.io/emoji-css/emoji.css", rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

  body
    block content